<div class="row" ng-app="AngularRails" ng-controller="TacoOrderController">
  <div class="col-md-6">
    <h3>Add Taco to Order</h3>

    <form ng-submit="addTaco()">
      <div class="form-group">
        <label for="name">Name your creation</label>
        <input type="text" class="form-control"  placeholder="Super Tasty" ng-model="taco.name"/>
      </div>
      <div class="form-group">
        <label for="filling">Select your filling</label>
        <select class="form-control" ng-model="taco.filling" ng-options="f for f in fillings">
          <option value="">Pick a filling</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Extras</label>
        <div class="checkbox" ng-repeat="extra in extras">
          <label>
            <input type="checkbox" ng-model="extra.checked" />
            {{ extra.name }}
          </label>
        </div>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <h3>Your Order</h3>

    <table class="table">
      <tbody>
        <tr ng-repeat="taco in tacos">
          <td>{{ taco.name }}</td>
          <td>{{ taco.filling }}</td>
          <td>
            <span ng-repeat="extra in taco.extras">{{ extra }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
